@import "tailwindcss";

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prata";
  src: url("/fonts/Prata-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Outfit", sans-serif;
}

.preta-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  transition: border-bottom 0.3s ease-in;
}

a.active {
  border-bottom: 2px solid #fff;
}

.nav-anchor:hover {
  border-bottom: 2px solid #691110;
}

a.filter.active {
  border-bottom: 2px solid #691110;
}

input[type="checkbox"] {
  accent-color: red;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
